.no_users_wrapp {
    height: 100%;
    width: 67.36%;
    margin-left: 16.25%;
}
.users_content {
    width: 25.78%;
    height: 42px;
    margin-left: 37.12%;
    margin-top: 196px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #9BB0CB;
}
.button_create_user {
    text-decoration: none;
    width: 160px;
    height: 40px;
    margin-left: 41.76%;
    margin-top: 64px;
    border: none;
    background: #4E86E4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}