.top_users_form {
    display: flex;
    width: 67.36%;
    height: 45px;
    margin-left: 16.25%;
    background: #4E86E4;
}
.users_name {
    width: 3.71%;
    height: 17px;
    margin-left: 7.22%;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.users_company {
    width: 5.99%;
    height: 17px;
    margin-left: 20.01%;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.users_contacts {
    width: 5.68%;
    height: 17px;
    margin-left: 16.64%;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.users_last_update {
    width: 10.22%;
    height: 17px;
    margin-left: 17.17%;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
