.contacts_form {
    position: relative;
    display: flex;
    margin-left: 16.25%;
    height: 626px;
    width: 67.37%;
    background: #f3f6f7;
}
.contacts_box_first {
    margin-top: 41px;
    padding-left: 10%;
    width: 50%;
}
.contacts_label, .contacts_label_star {
    display: block;
    width: 79.48%;
    margin-top: 24px;
    height: 17px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #657C9A;
    &_star {
        background: url('../../icons/star.png') no-repeat center right;
    }
}
.contacts_input, .contacts_input_red {
    display: block;
    margin-top: 4px;
    padding-left: 8px;
    width: 79.48%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CFE0;
    outline: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    &_red {
        border: 1px solid #EB5757;
    }
}
.contacts_select, .contacts_select_red {
    display: block;
    margin-top: 4px;
    width: 79.48%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CFE0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #657C9A;
    &_red {
        border: 1px solid #EB5757;
    }
}
.contacts_box_second {
    margin-top: 41px;
    padding-left: 10%;
    width: 50%;
}
.phone_box {
    position: relative;
}
.contacts_minus {
    position: absolute;
    width: 15px;
    height: 14px;
    left: 81%;
    top: 32px; 
    cursor: pointer;
}
.add_phone {
    width: 100%;
    height: 17px;
    margin-top: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #657C9A;
    cursor: pointer;
    img {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}
.button_contacts_back {
    position: absolute;
    border: none;
    width: 100px;
    height: 40px;
    left: 57.5%;
    top: 470px;
    background: #d3dbe8;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background: #5E97F3;
    }
}
.button_contacs_forward {
    position: absolute;
    border: none;
    width: 100px;
    height: 40px;
    left: 79.4%;
    top: 470px;
    background: #5E97F3;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background: #4185f4;
    }
}
.text_error {
    width: 27.78%;
    height: 11px;
    margin-top: 2px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 9px;
    color: #EB5757;
}
@media (max-width: 991px){
    .contacts_form {
        width: 83%;
        margin-left: 65px;
    }
}